# path to root directory
# this requires PROJECT_ROOT environment variable to exist
# PROJECT_ROOT is inferred and set by pyrootutils package in `train.py` and `eval.py`
root_dir: ${oc.env:PROJECT_ROOT}

# path to data directory
data_dir: ${paths.root_dir}/data/

# path to logging directory
log_dir: ${paths.root_dir}/logs/

# path to output directory, created dynamically by hydra
# path generation pattern is specified in `configs/hydra/default.yaml`
# use it to store all files generated during the run, like texts
output_dir: ${paths.root_dir}/output

# path to working directory
work_dir: ${hydra:runtime.cwd}

#path to save pretrained models
model_dir: ${paths.root_dir}/models/${name}

# path to save checkpoints
ckpt_dir: ${paths.model_dir}/checkpoints

